{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% elsif post.teaser %}
{% assign teaser = post.teaser %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if teaser %}
    <div class="archive__item-teaser">
      <img src={% if teaser contains "://" %} "{{ teaser }}"
        {% else %} "{{ teaser | prepend: "/images/" | prepend: base_path }}" {% endif %} alt="">
    </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h2>




    {% if post.collection == 'news' %}

      {% if post.abstract and site.read_more != 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.abstract | markdownify }}</p>
      {% elsif post.abstract and site.read_more == 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description">
        {{ post.abstract | truncatewords: 50 | markdownify | remove: '<p>' | remove: '</p>' }}
        <!-- <br> -->
        <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong>
        </p>
      {% elsif post.date %}
        <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
            {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time
            datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
        </p>
      {% endif %}
    {% endif %}

  </article>
</div>